# virtual envs
venv/
env/
.venv/
.env
.env
.env

# IDE
.vscode/

node_modules/
dist/
coverage/

test.db

# Terraform
infra/.terraform/
#infra/.terraform.lock.hcl
infra/terraform.tfstate*
infra/terraform.tfstate.d/
infra/*.tfvars