bucket         = "curso-cicd-tfstate-jdgut-753159"
key            = "database/production/terraform.tfstate"
region         = "us-east-1"
use_lockfile   = true
dynamodb_table = "terraform-state-locks"
