environment_name = "production"
aws_region       = "us-east-1"

docker_image_uri = "dockerhub-user/db-image:latest"
lab_role_arn     = "arn:aws:iam::123456789012:role/LabRole"
vpc_id           = "vpc-xxxxxxxx"
subnet_ids       = ["subnet-aaaaaaa", "subnet-bbbbbbb"]

postgres_db       = "appdb"
postgres_user     = "appuser"
postgres_password = "replace_me"

desired_count = 1
task_cpu      = 1024
task_memory   = 2048
